body {
    margin: 0;
    padding: 0;
}

#body {
    height: 100vh;
    padding: 5px;
    box-sizing: border-box;
}

header {
    height: 5%;
    text-align: center;
    position: sticky;
    top: 5px;
}

.logo {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    color: #9cf;
}

a:active {
    color: #9cf;
}

.article {
    height: 85%;
}

.article_contents {
    float: left;
}

.all_posts {
    width: 25%;
    height: 100%;
    overflow: auto;
}

.current_post {
    width: 50%;
    height: 100%;
    overflow: auto;
}

blockquote {
    border-left: 5px solid #9cf;
    padding-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

table th, td {
    border: 1px solid #9cf;
}

.latest_posts {
    width: 25%;
}

footer {
    height: 10%;
    clear: left;
    position: relative;
}

footer h2 {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

